<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mdpeventinputfunction20220619114304.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6d9652ae-29d4-471b-9bf4-e23ddaaeb05a/resourcegroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/mdpEventInputFunction20220619114304</ResourceId>
    <UserName>$mdpEventInputFunction20220619114304</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://mdpeventinputfunction20220619114304.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>