<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://subscribereventgridtrigger20220622112231.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6d9652ae-29d4-471b-9bf4-e23ddaaeb05a/resourcegroups/mdpwebhookgroup/providers/Microsoft.Web/sites/subscriberEventGridTrigger20220622112231</ResourceId>
    <UserName>$subscriberEventGridTrigger20220622112231</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://subscribereventgridtrigger20220622112231.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>